{
    "plugins": [
      "@babel/plugin-proposal-optional-chaining",
      ["@babel/plugin-proposal-pipeline-operator", { "proposal": "minimal" }],
      "@babel/plugin-proposal-export-default-from"
    ]
  }