---
extends:
  - plugin:vue/essential
  - ./_symbol/linters/javascript/default.eslintrc
plugins:
  - import
parserOptions:
  parser: babel-eslint
rules:
  no-console:
  - error
  - allow:
    - error
    - warn
    - info
  indent:
  - error
  - tab
  - ignoredNodes:
    - TemplateLiteral
  no-mixed-spaces-and-tabs:
  - error

