@font-face {
    font-family:"protipo";
    src:url("https://use.typekit.net/af/f928b5/00000000000000007735b722/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/f928b5/00000000000000007735b722/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/f928b5/00000000000000007735b722/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;
}

$primary: $primary-color;
$secondary: $secondary-color;
$info: $secondary-color;
$danger: $red-color;
$pink: $pink-color;
$blue: $blue-color;
$green: $green-color;
$orange: $orange-color;
$dark-white: $dark-white-color;
$dark-mode-blue: $dark-mode-button-text-color;

$grid-breakpoints: (
    xxxs: 0,
    xxs: 320px,
    xs: 568px,
    sm: 667px,
    md: 768px,
    lg: 992px,
    xl: 1920px
);

$container-max-widths: (
    xxxs: 0,
    xxs: 320px,
    xs: 568px,
    sm: 667px,
    md: 768px,
    lg: 992px,
    xl: 1920px
);

$theme-colors: () !default;
$theme-colors: map-merge(
    (
        'primary': $primary,
        'secondary': $secondary,
        'success': $green,
        'info': $info,
        'warning': $orange,
        'title': $pink,
        'dark-mode-blue': $dark-mode-blue
    ),
    $theme-colors
);

@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap-vue/src/index.scss';
@import './marker-cluster.scss';

.border-transparent {
    border-color: transparent;
}

.bg-transparent {
    background: transparent;
}

body {
    font-family: 'protipo', sans-serif;
}

a {
    font-weight: 600;
}

// a {
//     color: var(--secondary);
//     text-decoration: none;

//     :hover {
//         color: var(--pink);
//         text-decoration: none;
//     }
// }
