
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

$primary: #5200c6;
$secondary: #44004e;
$info: #44004e;
$danger: red;
$pink: #ff00ff;
$blue: #00c8ff;
$green: #33dd50;
$orange: #ff9600;


$navmenubackground: #44004e;

@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap-vue/src/index.scss';


.border-transparent {
    border-color: transparent;
}

.bg-transparent {
    background: transparent;
}


body {
    font-family: 'Noto Sans', sans-serif;
}

// a {
//     color: var(--secondary);
//     text-decoration: none;

//     :hover {
//         color: var(--pink);
//         text-decoration: none;
//     }
// }