.marker-cluster-small {
	background-color: #5200c6bb;
}

.marker-cluster-small div {
	background-color: #5200c6;
}

.marker-cluster-medium {
	background-color: #a502bebb;
}

.marker-cluster-medium div {
	background-color: #a502be;
}

.marker-cluster-large {
	background-color: #f0fb;
}

.marker-cluster-large div {
	background-color: #f0f;
}

	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: #5200c6;
}

.leaflet-oldie .marker-cluster-small div {
	background-color: #5200c6;
}

.leaflet-oldie .marker-cluster-medium {
	background-color: #a502be;
}

.leaflet-oldie .marker-cluster-medium div {
	background-color: #a502be;
}

.leaflet-oldie .marker-cluster-large {
	background-color: #f0f;
}

.leaflet-oldie .marker-cluster-large div {
	background-color: #f0f;
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
}

.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	color: #fff;
}

.marker-cluster span {
	line-height: 30px;
}